In [1]:
from time import time

import pandas as pd
from sqlalchemy import create_engine

### 1. Ingest data

We first upload to our database the green taxi data for Jan 2019

In [2]:
# db connexion engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
# data to ingest for homework
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz'

#### *Create schema*

In [19]:
df_head = pd.read_csv(url, compression='gzip', nrows=0)

In [20]:
print(pd.io.sql.get_schema(df_head, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" TEXT,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" TEXT,
  "PULocationID" TEXT,
  "DOLocationID" TEXT,
  "passenger_count" TEXT,
  "trip_distance" TEXT,
  "fare_amount" TEXT,
  "extra" TEXT,
  "mta_tax" TEXT,
  "tip_amount" TEXT,
  "tolls_amount" TEXT,
  "ehail_fee" TEXT,
  "improvement_surcharge" TEXT,
  "total_amount" TEXT,
  "payment_type" TEXT,
  "trip_type" TEXT,
  "congestion_surcharge" TEXT
)

In [21]:
# change columns to proper data type (only where needed for questions)
df_head.lpep_pickup_datetime = pd.to_datetime(df_head.lpep_pickup_datetime)
df_head.lpep_dropoff_datetime = pd.to_datetime(df_head.lpep_dropoff_datetime)

convert_dict = {'PULocationID': int,
                'DOLocationID': int,
                'trip_distance': float,
                'tip_amount' : float}

df_head = df_head.astype(convert_dict)

In [22]:
print(pd.io.sql.get_schema(df_head, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" TEXT,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" TEXT,
  "trip_distance" REAL,
  "fare_amount" TEXT,
  "extra" TEXT,
  "mta_tax" TEXT,
  "tip_amount" REAL,
  "tolls_amount" TEXT,
  "ehail_fee" TEXT,
  "improvement_surcharge" TEXT,
  "total_amount" TEXT,
  "payment_type" TEXT,
  "trip_type" TEXT,
  "congestion_surcharge" TEXT
)

In [23]:
# createtable schema in database
df_head.to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

#### *Load data*

In [25]:
df_iter = pd.read_csv(url, compression='gzip', iterator=True, chunksize=100000)

In [26]:
# write data to postgresql table
for chunk in df_iter:

    t_start = time()
    # change datetime column type
    chunk.lpep_pickup_datetime = pd.to_datetime(chunk.lpep_pickup_datetime)
    chunk.lpep_dropoff_datetime = pd.to_datetime(chunk.lpep_dropoff_datetime)
    chunk = chunk.astype(convert_dict)

    chunk.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

    t_end = time()
    print(f"inserted another chunk... took {t_end - t_start:.3f} seconds")

inserted another chunk... took 7.557 seconds
inserted another chunk... took 7.580 seconds
inserted another chunk... took 7.500 seconds
inserted another chunk... took 7.286 seconds
inserted another chunk... took 7.734 seconds
inserted another chunk... took 7.772 seconds
inserted another chunk... took 2.441 seconds

#### *Load zone lookup table*

In [27]:
# ingest taxi zones lookup
df2 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [29]:
# datatypes are fine
print(pd.io.sql.get_schema(df2, name='taxi_zones_lookup'))

CREATE TABLE "taxi_zones_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [30]:
# create table
df2.to_sql(name='taxi_zones_lookup', con=engine, if_exists='replace')

### SQL Questions

##### Question 3. Count records
How many taxi trips were totally made on January 15?

In [33]:
query = """
SELECT 
    COUNT(*)
FROM green_taxi_trips
WHERE DATE(lpep_pickup_datetime) = '2019-01-15' AND DATE(lpep_dropoff_datetime) = '2019-01-15'
"""
pd.read_sql(query, con=engine)

   count
0  20530

##### Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [34]:
query = """
SELECT 
    lpep_pickup_datetime AS pickup_date,
    trip_distance
FROM green_taxi_trips
ORDER BY trip_distance DESC
LIMIT 1
"""
pd.read_sql(query, con=engine)

          pickup_date  trip_distance
0 2019-01-15 19:27:58         117.99

#### Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

In [37]:
query = """
SELECT 
    passenger_count,
    COUNT(*) AS num_trips
FROM green_taxi_trips
WHERE passenger_count IN ('2','3')
    AND DATE(lpep_pickup_datetime) = '2019-01-01'
GROUP BY passenger_count
"""
pd.read_sql(query, con=engine)

  passenger_count  num_trips
0               2       1282
1               3        254

#### Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [46]:
query = """
SELECT 
    z2."Zone" AS dropoff_zone,
    MAX(tip_amount) AS largest_tip
FROM green_taxi_trips AS trips 
INNER JOIN taxi_zones_lookup AS z1 
    ON trips."PULocationID" = z1."LocationID" AND z1."Zone" = 'Astoria'
INNER JOIN taxi_zones_lookup AS z2
    ON trips."DOLocationID" = z2."LocationID"
GROUP BY dropoff_zone
ORDER BY largest_tip DESC
"""
pd.read_sql(query, con=engine)

                      dropoff_zone  largest_tip
0    Long Island City/Queens Plaza        88.00
1                     Central Park        30.00
2                          Jamaica        25.00
3                             None        25.00
4                          Astoria        18.16
..                             ...          ...
215                      Bellerose         0.00
216                     Bath Beach         0.00
217       Williamsbridge/Olinville         0.00
218             Woodlawn/Wakefield         0.00
219                Hammels/Arverne         0.00

[220 rows x 2 columns]